.colorful-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #363742;;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  text-align: left;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

.form-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

textarea.form-input {
  height: 100px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #66717E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #4B4C56;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4B4C56;
}

.icon{
  font-size: large;
  font-weight: bold;
  overflow: hidden;
  background-color: #4B4C56;
  margin-right: 20px;
  margin-left: 10px;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  background-color: #E4C2C6;
  color: white;
  text-align: center;
}

ul li{
  float: left;
  padding: 14px 16px;
}

a{
  color: white;
  text-decoration: none;
}