.icontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: aliceblue;
    height: 700px;
    padding-bottom: 30px;
}

.palette {
    display: flex;
    height: 600px;
    width: 100%;
    margin: 20px;
    border-radius: 20px;
}

.color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.1s linear;
}

.color span {
    opacity: 0;
    transition: opacity 0.1s linear;
}

.color:nth-child(1) {
    background: #E9EDC9;
}

.color:nth-child(2) {
    background: #FEFAE0;
}

.color:nth-child(3) {
    background: #D4A373;
}

.color:hover {
    flex: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
    opacity: 1;
}

#stats {
    height: 14%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    box-sizing: border-box;
    color: #bebebe;
}

#stats svg {
    fill: #bebebe;
    transform: scale(1.2);
}